body
{
    background-color: rgb(166, 237, 250);
    font-family: Arial;
}
header
{
    text-align: center;
    color: white;
    text-shadow: 4px 4px 6px black;
}
section
{
    width: fit-content;
    margin: auto;
}
footer
{
    color: white;
    text-align: center;
    clear: left;
    padding: 10px;
    text-shadow: 1px 1px 2px black;
}
.box
{
    background-color: white;
    padding: 10px;
    float: left;
    border-radius: 15px;
    box-shadow: 4px 4px 6px;
    margin: 5px;
}
ul
{
    padding-left: 10px;
}